version: "3.9"

services:
  db:
    image: postgres:15
    container_name: netology_postgres
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - netology_net

  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: netology_backend_dev
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8000:8000"
    networks:
      - netology_net

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    container_name: netology_frontend_dev
    depends_on:
      - backend
    ports:
      - "8080:80"
    networks:
      - netology_net

networks:
  netology_net:
    driver: bridge

volumes:
  postgres_data:
